# Enforce LF for all text files
* text=auto

# Set LF line endings specifically for Python files
*.py text eol=lf

# Exclude binary files from line-ending normalization
*.jpg -text
*.png -text
*.zip -text